 .menu{
       border-bottom: 1px solid lightgrey;
   }
   .menu label{
    background-color: #F0F8FF;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    padding: 10px;
   }
   .menu label a{
       text-decoration:none;
       color:black;
   }
   .menu label:hover{
       background: #dcdcdc;
   }
   #menuDiv{
    background-color:#e7ebfe;
    border: 1px solid #f8f8f8;
    width: 100%;
    padding: 2px;
    height: 50px;
    margin-bottom:5px;
    margin-top:5px;
}
#menuDiv ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
    background-color:#e7ebfe;
}
#menuDiv ul a{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:600;
	font-size:12px;
	line-height:40px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}
#menuDiv ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0
}
#menuDiv ul li:hover{
    background:#b3c3fb;
}
#menuDiv ul li.main_list:hover{
    background:#b3c3fb;
    border-bottom: 2px solid #ffffff;
}
#menuDiv ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#f8f8f8;
	padding:0
}
#menuDiv ul ul li{
	float:none;
	width:200px
}
#menuDiv ul ul li{
	float:none;
	width:200px
}

#menuDiv ul ul a{
	line-height:120%;
	padding:10px 15px
}

#menuDiv ul ul ul{
	top:0;
	left:100%
}

#menuDiv ul li:hover > ul{
	display:block
}